.container {
    margin:  0;
    margin-top: 77px;
    padding:5px 0;
    background: #fff;
}
.container  .dropdown{
    width:25%;
    float:left;
}
@media (min-width:768px){
    .container{
        width:100%;
    }
}
.container  .dropdown button{
    width:100%;
    font-size: 20px;
    border:0;
    border-right:1px solid #ddd ;
    border-radius: 0;
}
.container  .dropdown button i{
    float:right;
    width: 7px;
    height: 7px;
    background: url(../img/icon.png) no-repeat -147px -5px;
    margin-top: 18px;
    margin-right: 10%;
}
.container  .dropdown:last-child button{
     border:0;
 }
.btn-default:hover{
    background: #fff;
}
.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background: #fff;
    outline: none;
}
.dropdown-menu{
    width: 100%;
}
.carousel-indicators li{
    background: #fff;
    width:12px;
    height:12px;
    border:0;
    border-radius: 10px;
    margin-left:3px;
    margin-right:3px;
}

.carousel-indicators .active{
    background: #e64437;
    border:0;
    width:16px;
    height:16px;
    margin-left:5px;
    margin-right:5px;
}
.all_list {
    overflow: hidden;
    width: 98%;
    margin: 10px 1%;
    background-color: #fff;
    box-shadow: 1px 5px 12px #999;
}


.sp_list {
    background-color: #fff;
    padding: 10px 2%;
    margin-bottom: 10px;
}

.sp_list .sp_list_01 {
    overflow: hidden;
    color: #787878;
}

.sp_list .sp_list_01 .sp_list_01_left {
    float: left;
}

.sp_list .sp_list_01 .sp_list_01_right {
    float: left;
    margin-left: 2%;
    width: 77%;
    border-bottom:3px solid #ddd;
    padding-bottom:10px;
}

.sp_list .sp_list_01 .sp_list_01_right .list_name {
    font-size: 25px;
}

.sp_list .sp_list_01 .sp_list_01_right .list_bt_k {
    overflow: hidden;
    font-size: 20px;
    line-height: 1.6em;
    height: 55px;
}

.sp_list .sp_list_01 .sp_list_01_right .list_bt_k .list_bt {
    float: left;
    width: 79%;
}
.sp_list .sp_list_01 .sp_list_01_right .list_bt_k .list_bt span{
    color: #3076b1;
}
.sp_list .sp_list_01 .sp_list_01_right .list_bt_k .list_rj {
    float: right;
    width: 21%;
}
.sp_list .sp_list_01 .sp_list_01_right .list_fl_k .list_fl_name {
    float: left;
    width: 70%;
}
.sp_list .sp_list_01 .sp_list_01_right .list_fl_k span{
    color:#e64437;
}
.sp_list .sp_list_01 .sp_list_01_right .list_fl_k i{
    display: inline-block;
    width:157px;
    height:27px;
    background:url(../img/icon.png) no-repeat -188px -294px;
    transform: scale(0.8);
    margin-bottom:-7px;
}
.sp_list .sp_list_01 .sp_list_01_right .list_fl_k .list_fl_add {
    float: right;
    width: 30%;
    text-align: right;
}

.sp_list .sp_other_list {
    overflow: hidden;
    margin: 10px 0;
    width: 78%;
    margin-left: 22%;
}

.sp_list .sp_other_list .tab {
    float: left;
    width: 21px;
    height: 21px;
    background: url(../img/icon.png) no-repeat -141px -88px;
}

.sp_list .sp_other_list .sp_other_cp {
    float: left;
    font-size: 18px;
    margin-left: 2%;
}

.sp_list .sp_other_list .sp_other_yj {
    float: right;
    font-size: 18px;
    color: #e64437;
    width: 43%;
}

.dw {
    overflow: hidden;
    width: 96%;
    margin: 15px 2%;
}

.dw .dw_add {
    float: left;
    font-size: 20px;
    color: #787878;
}

.dw i {
    float: right;
    margin-right: 2%;
    width:28px;
    height:24px;
    background:url(../img/icon.png) no-repeat -56px -87px;
}